In [460]:
from bs4 import BeautifulSoup as bs
import requests
import os
from splinter import Browser 
from selenium import webdriver 
import pandas as pd
import regex as re

# Assign chromedriver inside browser/splinter variable
executable_path = {'executable_path': '../chromedriver'}
browser = Browser('chrome', **executable_path, headless=False)

In [468]:
# Assign url variables to query
url = "https://mars.nasa.gov/news/"
nasa_site = "https://mars.nasa.gov"

In [469]:
# Create empty list/dict
p_text = []
news = {}

In [473]:
# Navigate splinter/chrome browser to news url and zap the html into BS!
browser.visit(url)
news1_html = browser.html
soup = bs(news1_html, 'html.parser')

In [474]:
# Filter through news html to find most recent post's paragraph body and title
article1 = soup.find(class_="slide")
article = article1.find_all('a')
news_p = article[0].get_text().strip()
news_title = article[1].get_text().strip()
news_title

'Opportunity Emerges in a Dusty Picture'

In [475]:
p_soup = article1.find_all('a', href=True)  
url_p = p_soup[0]['href']
url_link = nasa_site + url_p
url_link

'https://mars.nasa.gov/news/8370/opportunity-emerges-in-a-dusty-picture/'

In [476]:
response2 = requests.get(url_link)                                          
paragraph_soup = bs(response2.text, "html.parser")                         
html_paragraphs = paragraph_soup.find(class_='wysiwyg_content')           
paragraphs = html_paragraphs.find_all('p')   
p_header = paragraphs[0].get_text().strip()
p_intro = paragraphs[2].get_text().strip()
news["Title"] = news_title
news['Header'] = p_header
news['Intro'] = p_intro
news

{'Title': 'Opportunity Emerges in a Dusty Picture',
 'Header': "NASA still hasn't heard from the Opportunity rover, but at least the agency can see it again.",
 'Intro': 'The storm was one of several that stirred up enough dust to enshroud most of the Red Planet and block sunlight from reaching the surface. The lack of sunlight caused the solar-powered Opportunity to go into hibernation.'}

In [477]:
mars_pic_url = "https://www.jpl.nasa.gov/spaceimages/?search=&category=Mars"
mars_hd = "https://www.jpl.nasa.gov/spaceimages/"
browser.visit(mars_pic_url)
mars_pic_html = browser.html
mars_pic_soup = bs(mars_pic_html, 'html.parser')
mars_images = mars_pic_soup.find_all('div',class_="img")

In [478]:
featured_image_array = []                                                     

for image in mars_images:                        
    featured_image_array.append(image.find('img').get('src'))

In [479]:
featured_image = featured_image_array[0]
featured_image

'/spaceimages/images/wallpaper/PIA22719-640x350.jpg'

In [480]:
t_1 = featured_image.split('-')                                       
t_2 = t_1[0].split('/')                                     
featured_image_url = mars_hd + "images/largesize/" + t_2[4] + '_hires.jpg'

In [481]:
featured_image_url

'https://www.jpl.nasa.gov/spaceimages/images/largesize/PIA22719_hires.jpg'

In [482]:
mars_weather = "https://twitter.com/marswxreport?lang=en"
browser.visit(mars_weather)
weather_html = browser.html
weather_soup = bs(weather_html, 'html.parser')

In [487]:
marsposts = weather_soup.find_all('p',class_="tweet-text")

weather_list = []

for posts in marsposts:
    weather_list.append(posts.text.strip())
weather_list[:3]

['NASA opened for business on this day in 1958. Replacing the previous agency National Advisory Committee for Aeronautics (NACA)pic.twitter.com/NSoxyxpkyh',
 'I’m 60 days from landing on #Mars! To ensure my successful Entry, Descent and Landing (EDL), my team begins intensive preparations during the “approach” phase. This happens to be the phase I’m entering right now \xa0More: http://go.nasa.gov/2DEAjOl\xa0pic.twitter.com/8hrnNiriGi',
 'How did we know the recent Mars dust storm went global? The confirmation came from an unlikely place. Following the first orbital observations of it, evidence quietly materialized on the other side of the globe from a small motor on @MarsCuriosity: https://go.nasa.gov/2DwWE4L\xa0pic.twitter.com/pJruiAvveb']

In [488]:
mars_weather_posts = []
for x in weather_list:
    if re.search('Sol', x):
        mars_weather_posts.append(x)

In [490]:
recent_mars_weather = mars_weather_posts[0]

recent_mars_weather

'Sol 2171 (2018-09-14), high -12C/10F, low -65C/-84F, pressure at 8.79 hPa, daylight 05:43-17:59'

In [492]:
data_url = "https://space-facts.com/mars/"

In [493]:
tables = pd.read_html(data_url)
tables

[                      0                              1
 0  Equatorial Diameter:                       6,792 km
 1       Polar Diameter:                       6,752 km
 2                 Mass:  6.42 x 10^23 kg (10.7% Earth)
 3                Moons:            2 (Phobos & Deimos)
 4       Orbit Distance:       227,943,824 km (1.52 AU)
 5         Orbit Period:           687 days (1.9 years)
 6  Surface Temperature:                  -153 to 20 °C
 7         First Record:              2nd millennium BC
 8          Recorded By:           Egyptian astronomers]

In [494]:
clean_table = tables[0]
clean_table.columns = ['Data', 'Values']
clean_table

                   Data                         Values
0  Equatorial Diameter:                       6,792 km
1       Polar Diameter:                       6,752 km
2                 Mass:  6.42 x 10^23 kg (10.7% Earth)
3                Moons:            2 (Phobos & Deimos)
4       Orbit Distance:       227,943,824 km (1.52 AU)
5         Orbit Period:           687 days (1.9 years)
6  Surface Temperature:                  -153 to 20 °C
7         First Record:              2nd millennium BC
8          Recorded By:           Egyptian astronomers

In [496]:
mars_table_html = clean_table.to_html(header=False, index=False)
mars_table_html.replace('\n', '')
mars_table_html

'<table border="1" class="dataframe">\n  <tbody>\n    <tr>\n      <td>Equatorial Diameter:</td>\n      <td>6,792 km</td>\n    </tr>\n    <tr>\n      <td>Polar Diameter:</td>\n      <td>6,752 km</td>\n    </tr>\n    <tr>\n      <td>Mass:</td>\n      <td>6.42 x 10^23 kg (10.7% Earth)</td>\n    </tr>\n    <tr>\n      <td>Moons:</td>\n      <td>2 (Phobos &amp; Deimos)</td>\n    </tr>\n    <tr>\n      <td>Orbit Distance:</td>\n      <td>227,943,824 km (1.52 AU)</td>\n    </tr>\n    <tr>\n      <td>Orbit Period:</td>\n      <td>687 days (1.9 years)</td>\n    </tr>\n    <tr>\n      <td>Surface Temperature:</td>\n      <td>-153 to 20 °C</td>\n    </tr>\n    <tr>\n      <td>First Record:</td>\n      <td>2nd millennium BC</td>\n    </tr>\n    <tr>\n      <td>Recorded By:</td>\n      <td>Egyptian astronomers</td>\n    </tr>\n  </tbody>\n</table>'

In [497]:
hemi_url = 'https://astrogeology.usgs.gov/search/results?q=hemisphere+enhanced&k1=target&v1=Mars'
browser.visit(hemi_url)

In [498]:
hemi_html = browser.html
hemi_soup = bs(hemi_html, 'html.parser')

In [499]:
hemisphere_image_urls = []

resultz = hemi_soup.find('div', class_='result-list')                     
hemispheres = resultz.find_all('div', class_='item')

In [500]:
for hemisphere in hemispheres:

    hemi = hemisphere.find('div', class_='description')
    title = hemi.a.text
    title = title.replace('Enhanced', '')
    browser.click_link_by_partial_text(title)
    
    asc_html = browser.html                                                
    asc_soup = bs(asc_html, 'html.parser')                                 
    
    image = asc_soup.find('div', class_='downloads').find('ul').find('li')  
    image_url = image.a['href']
    
    hemisphere_image_urls.append({'title': title, 'image_url': image_url})   
    
    browser.click_link_by_partial_text('Back')

In [502]:
hemisphere_image_urls

[{'title': 'Cerberus Hemisphere ',
  'image_url': 'http://astropedia.astrogeology.usgs.gov/download/Mars/Viking/cerberus_enhanced.tif/full.jpg'},
 {'title': 'Schiaparelli Hemisphere ',
  'image_url': 'http://astropedia.astrogeology.usgs.gov/download/Mars/Viking/schiaparelli_enhanced.tif/full.jpg'},
 {'title': 'Syrtis Major Hemisphere ',
  'image_url': 'http://astropedia.astrogeology.usgs.gov/download/Mars/Viking/syrtis_major_enhanced.tif/full.jpg'},
 {'title': 'Valles Marineris Hemisphere ',
  'image_url': 'http://astropedia.astrogeology.usgs.gov/download/Mars/Viking/valles_marineris_enhanced.tif/full.jpg'}]

In [503]:
browser.quit()