In [446]:
from bs4 import BeautifulSoup as bs
import requests
import os
from splinter import Browser 
from selenium import webdriver 
import pandas as pd
import regex as re

executable_path = {'executable_path': '../chromedriver'}
browser = Browser('chrome', **executable_path, headless=False)

In [447]:
url = "https://mars.nasa.gov/news/"

nasa_site = "https://mars.nasa.gov"

In [448]:
p_text = []
news = {}

In [449]:
response = requests.get(url)

In [450]:
soup = bs(response.text, 'html.parser')

In [451]:
#print(soup.prettify)

In [452]:
article1 = soup.find(class_="slide")
article = article1.find_all('a')
news_p = article[0].get_text().strip()
news_title = article[1].get_text().strip()
news_title

'Opportunity Hunkers Down During Dust Storm'

In [189]:
p_soup = article1.find_all('a', href=True)  
url_p = p_soup[0]['href']
url_link = nasa_site + url_p
url_link

'https://mars.nasa.gov/news/8348/opportunity-hunkers-down-during-dust-storm/'

In [213]:
response2 = requests.get(url_link)                                          
paragraph_soup = bs(response2.text, "html.parser")                         
html_paragraphs = paragraph_soup.find(class_='wysiwyg_content')           
paragraphs = html_paragraphs.find_all('p')   
p_header = paragraphs[0].get_text().strip()
p_intro = paragraphs[2].get_text().strip()
news["Title"] = news_title
news['Header'] = p_header
news['Intro'] = p_intro
news

{'Title': 'Opportunity Hunkers Down During Dust Storm',
 'Header': 'NASA Mars Exploration Rover Status Report',
 'Intro': "It's the beginning of the end for the planet-encircling dust storm on Mars. But it could still be weeks, or even months, before skies are clear enough for NASA's Opportunity rover to recharge its batteries and phone home. The last signal received from the rover was on June 10."}

In [289]:
mars_pic_url = "https://www.jpl.nasa.gov/spaceimages/?search=&category=Mars"
mars_hd = "https://www.jpl.nasa.gov/spaceimages/"
browser.visit(mars_pic_url)
mars_pic_html = browser.html
mars_pic_soup = bs(mars_pic_html, 'html.parser')
mars_images = mars_pic_soup.find_all('div',class_="img")

In [290]:
featured_image_array = []                                                     

for image in mars_images:                        
    featured_image_array.append(image.find('img').get('src'))

In [291]:
featured_image = featured_image_array[0]
featured_image

'/spaceimages/images/wallpaper/PIA22719-640x350.jpg'

In [292]:
t_1 = featured_image.split('-')                                       
t_2 = t_1[0].split('/')                                     
featured_image_url = mars_hd + "images/largesize/" + t_2[4] + '_hires.jpg'

In [293]:
featured_image_url

'https://www.jpl.nasa.gov/spaceimages/images/largesize/PIA22719_hires.jpg'

In [421]:
mars_weather = "https://twitter.com/marswxreport?lang=en"
browser.visit(mars_weather)
weather_html = browser.html
weather_soup = bs(weather_html, 'html.parser')

In [444]:
marsposts = weather_soup.find_all('p',class_="TweetTextSize TweetTextSize--normal js-tweet-text tweet-text")

weather_list = []

for posts in marsposts:
    weather_list.append(posts.text.strip())
#weather_list

In [423]:
mars_weather_posts = []
for x in weather_list:
    if re.search('Sol', x):
        mars_weather_posts.append(x)

In [443]:
recent_mars_weather = mars_weather_posts[0].encode('utf-8', 'strict')

recent_mars_weather

b'Sol 2171 (2018-09-14), high -12C/10F, low -65C/-84F, pressure at 8.79 hPa, daylight 05:43-17:59'

In [327]:
data_url = "https://space-facts.com/mars/"

In [328]:
tables = pd.read_html(data_url)
tables

[                      0                              1
 0  Equatorial Diameter:                       6,792 km
 1       Polar Diameter:                       6,752 km
 2                 Mass:  6.42 x 10^23 kg (10.7% Earth)
 3                Moons:            2 (Phobos & Deimos)
 4       Orbit Distance:       227,943,824 km (1.52 AU)
 5         Orbit Period:           687 days (1.9 years)
 6  Surface Temperature:                  -153 to 20 Â°C
 7         First Record:              2nd millennium BC
 8          Recorded By:           Egyptian astronomers]

In [354]:
clean_table = tables[0]
clean_table.columns = ['Data', 'Values']
#clean_tables.reset_index("Data", inplace=True)
clean_table

                   Data                         Values
0  Equatorial Diameter:                       6,792 km
1       Polar Diameter:                       6,752 km
2                 Mass:  6.42 x 10^23 kg (10.7% Earth)
3                Moons:            2 (Phobos & Deimos)
4       Orbit Distance:       227,943,824 km (1.52 AU)
5         Orbit Period:           687 days (1.9 years)
6  Surface Temperature:                  -153 to 20 Â°C
7         First Record:              2nd millennium BC
8          Recorded By:           Egyptian astronomers

In [366]:
mars_table_html = clean_table.to_html(header=False, index=False)
mars_table_html.replace('\n', '')
#print(mars_table_html)

'<table border="1" class="dataframe">  <tbody>    <tr>      <td>Equatorial Diameter:</td>      <td>6,792 km</td>    </tr>    <tr>      <td>Polar Diameter:</td>      <td>6,752 km</td>    </tr>    <tr>      <td>Mass:</td>      <td>6.42 x 10^23 kg (10.7% Earth)</td>    </tr>    <tr>      <td>Moons:</td>      <td>2 (Phobos &amp; Deimos)</td>    </tr>    <tr>      <td>Orbit Distance:</td>      <td>227,943,824 km (1.52 AU)</td>    </tr>    <tr>      <td>Orbit Period:</td>      <td>687 days (1.9 years)</td>    </tr>    <tr>      <td>Surface Temperature:</td>      <td>-153 to 20 Â°C</td>    </tr>    <tr>      <td>First Record:</td>      <td>2nd millennium BC</td>    </tr>    <tr>      <td>Recorded By:</td>      <td>Egyptian astronomers</td>    </tr>  </tbody></table>'

In [409]:
hemi_url = 'https://astrogeology.usgs.gov/search/results?q=hemisphere+enhanced&k1=target&v1=Mars'
browser.visit(hemi_url)

In [410]:
hemi_html = browser.html
hemi_soup = bs(hemi_html, 'html.parser')

In [411]:
hemisphere_image_urls = []

resultz = hemi_soup.find('div', class_='result-list')                     
hemispheres = resultz.find_all('div', class_='item')

In [412]:
for hemisphere in hemispheres:

    hemi = hemisphere.find('div', class_='description')
    title = hemi.a.text
    title = title.replace('Enhanced', '')
    browser.click_link_by_partial_text(title)
    
    asc_html = browser.html                                                
    asc_soup = bs(asc_html, 'html.parser')                                 
    
    image = asc_soup.find('div', class_='downloads').find('ul').find('li')  
    image_url = image.a['href']
    
    hemisphere_image_urls.append({'title': title, 'image_url': image_url})   
    
    browser.click_link_by_partial_text('Back')

In [415]:
hemisphere_image_urls

[{'title': 'Cerberus Hemisphere ',
  'image_url': 'http://astropedia.astrogeology.usgs.gov/download/Mars/Viking/cerberus_enhanced.tif/full.jpg'},
 {'title': 'Schiaparelli Hemisphere ',
  'image_url': 'http://astropedia.astrogeology.usgs.gov/download/Mars/Viking/schiaparelli_enhanced.tif/full.jpg'},
 {'title': 'Syrtis Major Hemisphere ',
  'image_url': 'http://astropedia.astrogeology.usgs.gov/download/Mars/Viking/syrtis_major_enhanced.tif/full.jpg'},
 {'title': 'Valles Marineris Hemisphere ',
  'image_url': 'http://astropedia.astrogeology.usgs.gov/download/Mars/Viking/valles_marineris_enhanced.tif/full.jpg'}]

In [ ]:
browser.quit()